:root {
  --black: #0f172a;
  --white: #f8fafc;

  --red: #dc2626;
  --green: #22c55e;
  --orange: #f97316;

  --gap-xl: 32px;
  --gap-lg: 24px;
  --gap-md: 16px;
  --gap-sm: 8px;
  --gap-xs: 4px;

  --font-size-xl: 32px;
  --font-size-lg: 24px;
  --font-size-md: 16px;
  --font-size-sm: 12px;
  --font-size-xs: 8px;
}
